{% extends 'layouts/base.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-3">Slim 3</h1>
            <p>visualcookie/slim-sentinel-auth</p>
        </div>
    </div>
</div>
{% endblock %}
