<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta charset="UTF-8">
  <title>User Manager</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{{ base_url() }}/assets/css/main.css">
</head>
<body>

  {% include 'templates/partials/navigation.twig' %}

  <div class="container">
    {% include 'templates/partials/flash.twig' %}
    {% block content %}{% endblock %}
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
  <script src="{{ base_url() }}/assets/js/main.js"></script>

</body>
</html>
