<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-pills nav-admin">
      <li role="presentation"><a href="{{ path_for('admin.index') }}">Home</a></li>
      <li role="presentation"><a href="{{ path_for('admin.user.add') }}">Add New User</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
</div>
